APP_ENV=producao
FLASK_APP=wsgi.py
FLASK_DEBUG=False
NOME_SISTEMA=Painel R2A
SECRET_KEY=troque-esta-chave-por-uma-chave-forte
DATABASE_URL=sqlite:////app/instance/meu_painel.sqlite3
CADASTRO_BOLETO_DATABASE_URL=mssql+pyodbc://usuario:senha@servidor/banco?driver=ODBC+Driver+18+for+SQL+Server&encrypt=yes&trustServerCertificate=no
CRIAR_BANCO_AUTOMATICAMENTE=True
SESSION_COOKIE_SECURE=False
ADMIN_PADRAO_NOME=Administrador
ADMIN_PADRAO_EMAIL=admin@local
ADMIN_PADRAO_SENHA=troque-esta-senha
